/** Google Sheet sync Styles **/

.wcgs-sync-wrapper {
    padding: 50px;
    text-align: center;
    background-color: azure
}

.wcgs-inputs {
    width: 30%;
    height: 50px;
    display: block;
    margin: 10px auto;
}

.wcgs-sync-btn {
    height: 35px;
    padding: 3px;
    width: 30%;
}

.wcgs-sync-back{
    margin: 16px auto;
    font-size: 18px;
}

 #wcgs_progressbar {
  background-color: black;
  /*border-radius: 13px;*/ /* (height of inner div) / 2 + padding */
  padding: 3px;
  display:none;
}

#wcgs_progressbar > div.pb-run {
   background-color: orange;
   width: 100%; /* Adjust with JavaScript */
   height: 20px;
   /*border-radius: 10px;*/
   color:#fff;
}

.wcgs-connected{
    font-size: 20px;
    color: green;
}

.wcgs-connected-desc{
    font-size:16px;
}